@model IEnumerable<ElContadorPampero.Models.CuentaContable>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
                <td class="d-flex gap-2">
                    <div class="border border-dark p-1 rounded-2">
                        <a title="Edit" class="btn btn-outline-success btn-sm text-black" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil" style="font-size:1rem"></i></a>
                        <a title="Details" class="btn btn-outline-info btn-sm text-black" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-body-text"></i></a>
                        <a title="Delete" class="btn btn-outline-danger btn-sm text-black" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                    </div>

                </td>
        </tr>
}
    </tbody>
</table>
