@model IEnumerable<ElContadorPampero.Models.Contabilidad>

@{
    ViewData["Title"] = "Index";
}

<h1>Contabilidades</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table table table-sm table-hover table-borderless table-primary align-middle">
    <thead class="table-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicioPeriodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinalPeriodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicioPeriodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinalPeriodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Apellidos)
            </td>
            <td>
                <a class="btn btn-outline-dark btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-outline-dark btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a class="btn btn-outline-dark btn-sm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
