@model IEnumerable<ElContadorPampero.Models.DetalleAsientoContable>

@{
    ViewData["Title"] = "Index";
}

<h1>MOVIMIENTOS</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.AsientoContable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentaContable)
            </th>
            <th>
               Debe
            </th>
            <th>
                Haber
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.AsientoContable.Detalle)
            </td>
            <td>
             
                @(item.CuentaContable.Codigo + "-" + item.CuentaContable.Nombre )
            </td>
                <td>
                    @(item.Cargo=="Debe"?item.Monto:" ")
                </td>
                <td>
                    @(item.Cargo == "Haber" ? item.Monto : " ")
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    
            </td>
        </tr>
       
}
    </tbody>
</table>
 
