@model ElContadorPampero.Models.AsientoContable

@{
    ViewData["Title"] = "Details";
    decimal td = 0;
    decimal th = 0;
}

<h1>Details</h1>

<div>
    <h4>AsientoContable</h4>
    <hr />
    <div class="row">
        <div class="col-6">
            <div class="card">

                <div class="card-header">
                    @Html.DisplayNameFor(model => model.Fecha):

                    @Html.DisplayFor(model => model.Fecha)

                    <br />

                    @Html.DisplayNameFor(model => model.Detalle):

                    @Html.DisplayFor(model => model.Detalle)
                </div>
                <div class="card-body">
                    @Html.DisplayNameFor(model => model.NroAsiento):

                    @Html.DisplayFor(model => model.NroAsiento)
                    <br />
                    @Html.DisplayNameFor(model => model.Contabilidad):

                    @Html.DisplayFor(model => model.Contabilidad.Empresa)
                    <br />
                    @Html.DisplayNameFor(model => model.Usuario):

                    @Html.DisplayFor(model => model.Usuario.Apellidos)
                </div>
            </div>
        </div>
        <div class="col-6">

            <h5>MOVIMIENTOS DEL ASIENTO</h5>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>CORREO USUARIO</th>
                        <th>CUENTA</th>
                        <th>DEBE</th>
                        <th>HABER</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DetalleAsientoContables)
                    {
                        <tr>
                            <td>@Model.Usuario.Email</td>
                            <td>@item.CuentaContable.Nombre</td>
                            <td>@(item.Cargo == "Debe" ? item.Monto : 0)</td>
                            <td>@(item.Cargo == "Haber" ? item.Monto : 0)</td>
                        </tr>
                        td += item.Cargo == "Debe" ? item.Monto : 0;
                        th += item.Cargo == "Haber" ? item.Monto : 0;
                    }
                    <tr class="@(td==th?"bg-primary":"bg-danger")">
                        <td colspan="2"></td>
                        <td>@td</td>
                        <td>@th</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
