@model ElContadorPampero.Models.AsientoContable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AsientoContable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroAsiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroAsiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contabilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contabilidad.Empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Apellidos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
