@model IEnumerable<ElContadorPampero.Models.AsientoContable>
@using ElContadorPampero.Data
@{
    ViewData["Title"] = "Index";
    List<DetalleAsientoContable> l = ViewBag.listaV as List<DetalleAsientoContable> ?? null;

    bool validar(int idasiento)
    {
        var todosDebe = l.FindAll(k => k.AsientoContableId == idasiento).Where(p => p.Cargo == "Debe").Sum(j=>j.Monto);
        var todosHaber = l.FindAll(k => k.AsientoContableId == idasiento).Where(p => p.Cargo == "Haber").Sum(j => j.Monto);
        return todosDebe == todosHaber;
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroAsiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contabilidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroAsiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contabilidad.Empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Apellidos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a class="@(validar(item.Id)?"bg-light text-primary rounded-pill p-2":"bg-light text-danger rounded-pill p-2")" asp-action="Index" asp-controller="DetalleAsientoContables" asp-route-id="@item.Id"><strong>@(validar(item.Id)?"Movimientos Validos":"Movimientos NO Validos")</strong></a>
            </td>
        </tr>
}
    </tbody>
</table>
